scipy==1.7.1
requests==2.26.0
streamlit==0.88.0
matplotlib==3.4.3
dill==0.3.4
pandas==1.2.5
numpy==1.21.2
fastapi==0.68.1
lxml==4.6.3
pydantic==1.8.2
scikit_learn==0.24.2
sentence_transformers==2.0.0
spacy==3.1.2
uvicorn==0.15.0
