scipy==1.7.1
requests==2.26.0
streamlit==0.88.0
matplotlib==3.4.3
seaborn==0.11.2
pandas==1.2.5
numpy==1.21.2
scikit_learn==0.24.2
shap==0.39.0
cloudpickle==2.0.0
scikit-learn==0.24.2
lightgbm==3.2.1
imbalanced-learn==0.8.0
